*.iml
.gradle
/local.properties
/.idea/
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/gradle/wrapper/gradle-wrapper.properties
/app/proguard-rules.pro
/app/src/main/res/values/config.xml
/app/build/
/gradlew
/gradlew.bat
/local.properties
/build/
/commonlib/
/mobilertc/
